@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

/* hear section styles */
header {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 3.5rem;
}
.meno {
  height: 50px;
  display: flex;
  justify-content: space-between;
  display: none;
}

.nav {
  display: flex;
  justify-content: space-between;
}
.nav-title {
  color: #3a3a3a;
  font-size: 1.25rem;
  font-weight: 700;
}

.nav ul {
  display: flex;
  gap: 34px;
}
.nav li {
  list-style: none;
}
.nav a {
  text-decoration: none;
  color: #3a3a3a;
  font-size: 1rem;
  font-weight: 600;
}

/* font page section styles  */

.front-page {
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 80px;
  display: flex;
}

.front-content {
  margin-top: 50px;
  padding: 50px;
}

.front-title {
  color: #3a3a3a;
  font-size: 2rem;
  font-weight: 700;
}
.front-discription {
  color: #3a3a3a;
  font-size: 1rem;
  font-weight: 600;
  margin: 1vw auto;
  padding-right: 90px;
}
.btn {
  border-radius: 41px;
  background: #e02c6d;
  color: #ffffff;
  border: none;
  padding: 1rem;
  margin-top: 2rem;
}
/* siteee section styles  */

.site {
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
}

/* card section styles */
.card-container-full {
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 130px;
}
.card-container-title {
  text-align: center;
  color: #3a3a3a;
  font-size: 28px;
  font-weight: 700;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 50px;
}
.card {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}
.card .card-img {
  width: 90%;
  margin: 3%;
  margin-bottom: 3%;
}
.card .card-name {
  color: #18191f;
  font-size: 28px;
  font-weight: 500;
  margin-left: 3%;
}
.card .card-price {
  color: #18191f;
  font-size: 24px;
  font-weight: 400;
  margin-left: 3%;
  margin-bottom: 3%;
  margin-top: 3%;
}
.card .star i {
  color: #fb8200;
  font-size: 12px;
  margin-left: 3%;
  margin-bottom: 3%;
}
.card .card-discription {
  color: #787885;
  font-size: 18px;
  font-weight: 500;
  margin-left: 3%;
  margin-bottom: 5%;
}
.card-container-full .Seemore {
  color: rgba(224, 44, 109, 0.87);
  font-size: 20px;
  font-weight: 700;
  margin-left: 90%;
  margin-top: 50px;
}

/* featuread section */

.featured-container {
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 120px;
  display: flex;
}
.featured-img {
  width: 98%;
  margin: 0 auto;
}
.featured-content {
  width: 100%;
}
.featured-title {
  color: #0a0826;
  font-size: 38px;
  font-weight: 700;
  margin-top: 10 px;
}
.featured-discription {
  color: #6c6c6c;
  font-size: 16px;
  font-weight: 700;
  padding-right: 70px;
  margin: 16px auto;
}

/*  footer section styles */

.footer {
  background: #0a0826;
  text-align: center;
  margin-top: 100px;
}
.footer-content{
  border: 2px red solid;
  padding: 70px;
}

.footer-title {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
  
}
.footer-content h4 {
  color:#d9dbe1;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 10px;
}
.icon{
  color: #fff;
  
}
